RewriteEngine On
RewriteBase /

<Directory "/var/www/app">
    Require all denied
</Directory>


# Forward all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
