{% extends "base.twig" %}

{% block title %}
	about us
{% endblock %}

{% block content %}


    <div class="content mt-[100px] md:mt-[10px]">
        <img src="/assets/images/404.png" class="w-full dark:invert" alt="Page not found" />
    </div>


{% endblock %}
