{% extends "base.twig" %}

{% block title %}
	Benue International Marathon
{% endblock %}

{% block content %}

	<div class="hero">
		<div class="content h-full flex flex-col ">
			<h1 class="text-3xl font-bold text-white text-left mt-20">
				About us
			</h1>
		</div>
	</div>

	<div class="content mb-10">

		<p class="text-lg mb-8 leading-8">
			We are passionate about bringing people together through sports and wellness. Our mission is to promote physical fitness, unity, and personal achievement through world-class events like the Benue International Marathon. With a focus on health, community, and athleticism, we aim to create unforgettable experiences for participants and spectators alike.
		</p>
		<h3 class="text-2xl font-semibold mb-8">Our Vision</h3>
		<p class="text-lg mb-8 leading-8">
			To inspire individuals to push beyond their limits and foster a sense of unity within the community through challenging and exciting events.
		</p>
		<h3 class="text-2xl font-semibold mb-8">Our Values</h3>

		<ul class="list-disc pl-5">
			<li>Commitment to health and wellness</li>
			<li>Promotion of unity and community spirit</li>
			<li>Encouragement of personal growth and achievement</li>
			<li>Dedication to providing world-class events</li>
		</ul>

	</div>

{% endblock %}
