<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Benue International Marathon
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/assets/bootstrap/bootstrap-icons.css" type="text/css"/>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
