<!DOCTYPE html>
<html class="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %} - Benue International Marathon
		</title>
		<link rel="stylesheet" href="/assets/bootstrap/bootstrap-icons.css" type="text/css"/>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	</head>
	<body>
		{% include 'header.twig' %}
		{% block content %}{% endblock %}
		{% include 'footer.twig' %}
		
	    <div id="loading-indicator" class="fixed inset-0 bg-black/70 hidden backdrop-blur-sm transition-opacity duration-300 ease-in-out z-50">
	        <img alt="Loading" src="/assets/images/clock.gif" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
	    </div>
		<script src="/js/loading-indicator.js"></script>
	</body>
</html>
