<div class="content">
	<div class="flex flex-wrap">
		<div class="w-full md:w-none md:flex-1 p-4">
			<a href="/">
				<img src="/assets/images/logo-dark.png" alt="Benue International Marathon logo" width="70" class="dark:hidden" />
				<img src="/assets/images/logo.png" alt="Benue International Marathon logo" width="70" class="hidden dark:inline-block" />
			</a>
			<div class="text-sm mt-3 text-gray-900 dark:text-gray-200">
				Most of our events will have a easy route choices as we will always keen to encourage new riders.
			</div>

			<ul class="flex items-center gap-4 my-8">
				<li>
					<a href="#" class="icons responsive-link">
						<i class="bi bi-facebook"></i>
					</a>
				</li>
				<li>
					<a href="#" class="icons responsive-link">
						<i class="bi bi-twitter"></i>
					</a>
				</li>
				<li>
					<a href="#" class="icons responsive-link">
						<i class="bi bi-youtube"></i>
					</a>
				</li>
				<li>
					<a href="#" class="icons responsive-link">
						<i class="bi bi-pinterest"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="flex-1 p-4">
			<div class="text-sm font-semibold border-b border-gray-700 pb-4 mb-4">
				Useful links
			</div>

			<ul class="text-sm">
				<li class="py-2">
					<a href="/" class="text-gray-900 dark:text-gray-100">
						Home
					</a>
				</li>
				<li class="py-2">
					<a href="/about-us" class="text-gray-900 dark:text-gray-100">
						About us
					</a>
				</li>
				<li class="py-2">
					<a href="/register" class="text-gray-900 dark:text-gray-100">
						Register
					</a>
				</li>
				<li class="py-2">
					<a href="/register/get-slip" class="text-gray-900 dark:text-gray-100">
						Get slip
					</a>
				</li>
				<li class="py-2">
					<a href="/contact-us" class="text-gray-900 dark:text-gray-100">
						Contact us
					</a>
				</li>
				<li class="py-2">
					<a href="/privacy-policy" class="text-gray-900 dark:text-gray-100">
						Privacy policy
					</a>
				</li>
				<li class="py-2">
					<a href="/privacy-policy" class="text-gray-900 dark:text-gray-100">
						Admin login
					</a>
				</li>
			</ul>
		</div>
		<div class="flex-1 p-4">
			<div class="text-sm font-semibold border-b border-gray-700 pb-4 mb-4">
				Contact us
			</div>

			<ul class="text-sm">
				<li class="py-2">
					<i class="bi bi-geo-alt-fill text-gray-900 dark:text-gray-100 mr-2"></i>
					No. 94 shaahu road Gboko south, Benue state, Nigeria
				</li>
				<li class="py-2">
					<i class="bi bi-telephone-fill text-gray-900 dark:text-gray-100 mr-2"></i>
					<a href="tel:+2348032112285" class="text-gray-900 dark:text-gray-100">
						08032112285
					</a>
				</li>
				<li class="py-2">
					<i class="bi bi-envelope-fill text-gray-900 dark:text-gray-100 mr-2"></i>
					<a href="mailto:info@benueinternationalmarathon.com" class="text-gray-900 dark:text-gray-100">
						info@benueinternationalmarathon.com
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="text-sm text-center border-t border-gray-700 p-8 mt-4">
		Copyright © 2024 Benue International Marathon LLC. All rights reserved.
	</div>
</div>
