<div class="fixed top-0 left-0 w-full z-40 bg-light dark:bg-dark shadow top-nav">
	<div class="content py-2 md:py-3">
		<nav class="flex items-center justify-between">
			<div>
				<ul class="flex items-center gap-4 text-sm">
					<li>
						<a href="/">
							<img src="/assets/images/logo-dark.png" alt="Benue International Marathon logo" width="70" class="w-14 md:w-20 dark:hidden" />
							<img src="/assets/images/logo.png" alt="Benue International Marathon logo" width="70" class="w-14 md:w-20 hidden dark:inline-block" />
						</a>
					</li>
					{% set navLinks %}
					<li>
						<a href="/" class="text-gray-600 dark:text-gray-300 responsive-link">
							Home
						</a>
					</li>
					<li>
						<a href="/about-us" class="text-gray-600 dark:text-gray-300 responsive-link">
							About us
						</a>
					</li>
					<li>
						<a href="/register" class="text-gray-600 dark:text-gray-300 responsive-link">
							Register
						</a>
					</li>
					<li>
						<a href="/contact-us" class="text-gray-600 dark:text-gray-300 responsive-link">
							Contact us
						</a>
					</li>
					{% endset %}
					{{ navLinks }}
				</ul>
			</div>
			<div>
				<ul class="flex items-center gap-4">
					{% set socialLinks %}
					<li>
						<a href="https://web.facebook.com/p/Benue-International-Marathon-BIM-61555076098059" class="icons responsive-link">
							<i class="bi bi-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#" class="icons responsive-link">
							<i class="bi bi-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" class="icons responsive-link">
							<i class="bi bi-youtube"></i>
						</a>
					</li>
					<li>
						<a href="#" class="icons responsive-link">
							<i class="bi bi-pinterest"></i>
						</a>
					</li>
					{% endset %}
					{{ socialLinks }}
					<li>
						<a href="/register" class="button second rounded-full hidden md:inline-block">
							<i class="bi bi-person-plus"></i>
							Register
						</a>
					</li>
					<li>
						<button class="md:hidden text-2xl text-dark dark:text-white p-2" id="menu-button">
							<i class="bi bi-list"></i>
						</button>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>

<nav class="fixed top-0 left-0 w-full h-full z-50 bg-light dark:bg-dark p-5 hidden md:hidden" id="menu">

	<span class="fixed top right-5 text-4xl text-dark dark:text-white p-2 cursor-pointer" id="close-menu-button">&times;</span>

	<ul class="flex flex-col items-center gap-4 text-2xl mt-16">
		{{ navLinks }}
		<li>
			<a href="/register/get-slip" class="text-gray-600 dark:text-gray-300 responsive-link">
				Get slip
			</a>
		</li>
		<li>
			<a href="/register/verify-slip" class="text-gray-600 dark:text-gray-300 responsive-link">
				Confirm slip
			</a>
		</li>
	</ul>

	<ul class="flex items-center justify-center gap-4 mt-16">
		{{ socialLinks }}
	</ul>

</nav>


 <script>
    document.getElementById("menu-button").addEventListener("click", toggleMenu);
    document.getElementById("close-menu-button").addEventListener("click", toggleMenu);
    function toggleMenu() {
        document.getElementById("menu").classList.toggle("hidden");
    }
</script>
