{% extends "base.twig" %}

{% block title %}
	Benue International Marathon
{% endblock %}

{% block content %}

	<div class="hero home">
		<div class="content h-full flex flex-col items-center justify-center">
			<div class="max-w-[600px] mx-auto flex flex-col items-start justify-center
																																																																															  animate-slideUpAndFade sm:items-center sm:text-center">
				<div class="text-5xl font-bold text-white text-left sm:text-center">
					Miles conquered triumph
					<span class="text-secondary">echos</span>
					within.
				</div>
				<p class="text-xl text-white text-left sm:text-center mt-4">
					A marathon is a 26.2-mile race that tests endurance, strength, and determination.
				</p>
			</div>
		</div>
	</div>

	<div class="content">
		<div>
			<div class="flex-1 p-4">
				<h1 class="text-3xl mb-10">Benue International Marathon</h1>
				<div class="text-2xl">2025 a race for amalgamation</div>
			</div>
			<div class="flex-2 p-4">
				<div class="text-3xl">Benue, State
					<br/>
					Nigeria</div>
				<div class="mt-4">Friday Jan 05, 2025</div>
			</div>
			<div class="flex-1 p-4">
				<div class="leading-8">
					The Benue International Marathon (BIM) marks the first-ever full international marathon in Benue State.
																																																																	
																																																																	BIM aims to stand out as a highly anticipated event, attracting global attention with world-class runners, international media, and tourists converging in Nigeria. By highlighting the immense health benefits of running, jogging, and physical activity, the marathon seeks to foster unity and enhance the overall well-being of Benue residents.
																																																																	
																																																																	The inaugural edition is themed "A Race for Unity."
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<h2 class="text-3xl mb-16">The marathon roadmap</h2>
		<div class="flex flex-col md:flex-row gap-6">
			<div class="flex-1 p-6 border border-gray-700 rounded-lg">
				<div class="text-2xl mb-4">Route</div>
				<div class="leading-8">
					Find below the start point and time for races.
				</div>
				<ul class="mt-4">
					<li class="mb-2">
						<p>
							<b class="br-2">42.195km</b>
							(Full Marathon)
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">Start point:
							</b>
							Tsekucha
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">End point:</b>
							J S Tarka Stadium Gboko
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">Start time:</b>
							08:00AM
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">End time:</b>
							10:00AM
						</p>
					</li>
				</ul>
			</div>

			<div class="flex-1 p-6 border border-gray-700 rounded-lg">
				<div class="text-2xl mb-4">Distance</div>
				<div class="leading-8">
					BIM features a single distance category: the full marathon, spanning 42 kilometers.
																																													As the inaugural edition of the Benue International Marathon, it marks a historic moment for the state.
				</div>
			</div>

			<div class="flex-1 p-6 border border-gray-700 rounded-lg">
				<div class="text-2xl mb-4">Registration</div>
				<div class="leading-8">
					All participants are required to register to take part in the event.
				</div>
			</div>

			<div class="flex-1 p-6 border border-gray-700 rounded-lg">
				<div class="text-2xl mb-4">Accreditation</div>
				<div class="leading-8">
					Accreditation will be provided to journalists interested in covering the event.
				</div>
			</div>


		</div>
	</div>

	<div class="content">
		<h2 class="text-3xl mb-10">What is a marathon</h2>
		<div class="flex flex-col md:flex-row gap-6">
			<div class="flex-1 p-6">
				<img src="/assets/images/run.png" alt="Runners" class="w-full mb-4 rounded-lg">
			</div>
			<div class="flex-1 p-6">
				<div class="leading-8">
					A marathon is a long-distance running race that spans
					<b>42.195 kilometers (26.2 miles)</b>. It tests participants' endurance, strength, and mental determination. Originating from the legend of a Greek soldier who ran from
					<b>Marathon to Athens</b>
					to deliver a message, the marathon has become a global sporting event.
																									It often involves months of training and is celebrated worldwide, with races attracting professional athletes and recreational runners alike. Marathons are not only physical challenges but also symbols of perseverance, community spirit, and personal achievement.
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<h2 class="text-3xl mb-16">Wins</h2>
		<div class="flex flex-col md:flex-row gap-6">
			<div class="flex-1 p-6 rounded-lg bg-secondary">
				<div class="leading-8">
					Participants stand a chance to win prizes of up to <b>1,000,000 NGN</b> and more.
				</div>
			</div>
			<div class="flex-1 p-6 rounded-lg bg-secondary">
				<div class="leading-8">
					Exciting complementary prizes from our partners and sponsors are also up for grabs!
				</div>
			</div>
			<div class="flex-1 p-6 rounded-lg bg-secondary">
				<div class="leading-8">
					As race day approaches, it's essential to fine-tune certain aspects of your diet for optimal performance.
				</div>
			</div>
		</div>
	</div>

	<div class="content text-center mt-20">
		<h1 class="text-4xl font-bold mb-16">Time is on</h1>
		<div
			class="flex justify-center space-x-4">
			<!-- Days -->
			<div class="flex flex-col items-center">
				<span id="countdownDays" class="text-6xl font-bold">000</span>
				<span class="text-lg uppercase mt-2">Days</span>
			</div>
			<!-- Hours -->
			<div class="flex flex-col items-center">
				<span id="countdownHours" class="text-6xl font-bold">00</span>
				<span class="text-lg uppercase mt-2">Hours</span>
			</div>
			<!-- Minutes -->
			<div class="flex flex-col items-center">
				<span id="countdownMinutes" class="text-6xl font-bold">00</span>
				<span class="text-lg uppercase mt-2">Minutes</span>
			</div>
			<!-- Seconds -->
			<div class="flex flex-col items-center">
				<span id="countdownSeconds" class="text-6xl font-bold">00</span>
				<span class="text-lg uppercase mt-2">Seconds</span>
			</div>
		</div>
	</div>

	<style>
		@keyframes slideUpAndFade {
			0% {
				opacity: 0;
				transform: translateY(100%);
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		.animate-slideUpAndFade {
			animation: slideUpAndFade 1s ease-in-out;
		}
	</style>

	 <script>
			const daysElement = document.getElementById("countdownDays");
			const hoursElement = document.getElementById("countdownHours");
			const minutesElement = document.getElementById("countdownMinutes");
			const secondsElement = document.getElementById("countdownSeconds");
			
			const queryString = document.currentScript.src.substring(document.currentScript.src.indexOf("?"));
			const matchTime = Date.parse('2025-01-05T00:00:00Z');
			
			if (!isNaN(matchTime)) {
			    const countdownTarget = matchTime;
			
			    const updateCountdown = () => {
			        const currentTime = Date.now();
			        const timeRemaining = countdownTarget - currentTime;
			
			        if (timeRemaining > 0) {
			            const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
			            const hours = Math.floor((timeRemaining / (1000 * 60 * 60)) % 24);
			            const minutes = Math.floor((timeRemaining / (1000 * 60)) % 60);
			            const seconds = Math.floor((timeRemaining / 1000) % 60);
			
			            daysElement.textContent = `${days}`;
			            hoursElement.textContent = `${hours.toString().padStart(2, "0")}`;
			            minutesElement.textContent = `${minutes.toString().padStart(2, "0")}`;
			            secondsElement.textContent = `${seconds.toString().padStart(2, "0")}`;
			        } else {
			            daysElement.textContent = "000";
			            hoursElement.textContent = "00";
			            minutesElement.textContent = "00";
			            secondsElement.textContent = "00";
			            clearInterval(countdownInterval);
			        }
			    };
			
			    const countdownInterval = setInterval(updateCountdown, 1000);
			    updateCountdown();
			} else {
			    console.error("Invalid date format for 'nextMatch'.");
			}
		</script>
{% endblock %}
