{% extends "base.twig" %}

{% block title %}
	home
{% endblock %}

{% block content %}

	<div class="hero home">
		<div class="content h-full flex flex-col md:items-center justify-center">
			<div class="max-w-[600px] mx-auto flex flex-col items-start md:justify-center
										animate-slideUpAndFade">
				<div class="text-5xl font-bold text-light text-left md:text-center">
					Miles conquered triumph
					<span class="text-secondary">echos</span>
					within.
				</div>
				<p class="text-xl text-light text-left md:text-center mt-4">
					A marathon is a 26.2-mile race that tests endurance, strength, and determination.
				</p>
			</div>
		</div>
	</div>

	<div class="content">
		<div>
			<div class="flex-1 p-4">
				<h1 class="text-3xl mb-10">Benue International Marathon</h1>
				<div class="text-2xl">2025 a race for amalgamation</div>
			</div>
			<div class="flex-2 p-4">
				<div class="text-3xl">Benue, State
					<br/>
					Nigeria</div>
				<div class="mt-4">February 30th, 2025</div>
			</div>
			<div class="flex-1 p-4">
				<div class="leading-8">
					The Benue International Marathon (BIM) marks the first-ever full international marathon in Benue State. 
															BIM aims to stand out as a highly anticipated event, attracting global attention with world-class runners, 
															international media, and tourists converging in Nigeria. By highlighting the immense health benefits of running, 
															jogging, and physical activity, the marathon seeks to foster unity and enhance the overall well-being of Benue residents. 
															The inaugural edition is themed "A Race for Unity."
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<h2 class="text-3xl mb-16">The marathon roadmap</h2>
		<div class="flex flex-col md:flex-row gap-6">
			<div class="flex-1 p-6 border border-gray-700 rounded-lg">
				<div class="text-2xl mb-4">Route</div>
				<div class="leading-8">
					The 2025 Benue International Marathon route is as follows:
				</div>
				<ul class="mt-4">
					<li class="mb-2">
						<p>
							<b class="br-2">21KM</b>
							(Half Marathon).
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">Start:
							</b>
							Aper Aku Stadium
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">Route:
							</b>
							Savanna Roundabout → Wurukum Roundabout → Air Force Base Gate
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">Finish:</b>
							Return to Aper Aku Stadium.
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">Start time:</b>
							08:00AM
						</p>
					</li>
					<li class="mb-2">
						<p>
							<b class="br-2">End time:</b>
							10:00AM
						</p>
					</li>
				</ul>
			</div>

			<div class="flex-1 p-6 border border-gray-700 rounded-lg">
				<div class="text-2xl mb-4">Distance</div>
				<div class="leading-8">
					The official distance for the 2025 Benue International Marathon is:
					
					                21KM (Half Marathon).
					
					                Get ready for a challenging and exciting run!
				</div>
			</div>

			<div class="flex-1 p-6 border border-gray-700 rounded-lg">
				<div class="text-2xl mb-4">Registration</div>
				<div class="leading-8">
					<p class="mb-2">Registration Period: February 30th, 2025 - July 30th, 2025</p>
					<p class="mb-4">Race Date: July 31st, 2025</p>
					<p class="mb-4">Race Schedule:</p>
					<p class="mb-2">Eligibility:</p>
					<p class="mb-4">This inaugural event is exclusive to Nigerian citizens. Future editions will welcome international participants.</p>
					<p class="mb-2">Important Note:</p>
					<p class="mb-4">This first edition is a mock marathon due to limited sponsorship. We look forward to expanding the event in the future.</p>
					<p class="mb-4">For more information visit our Facebook page: Benue International Marathon-BIM</p>
				</div>
			</div>

			<div class="flex-1 p-6 border border-gray-700 rounded-lg">
				<div class="text-2xl mb-4">Accreditation</div>
				<div class="leading-8">
					<p class="mb-4">We are excited to offer the following prizes to the top 20 finishers of the Benue International Marathon</p>

					<ul class="mb-4">
						<li>1st Place: N500,000</li>
						<li>2nd Place: N250,000</li>
						<li>3rd Place: N100,000</li>
						<li>4th-10th Place: N30,000 each</li>
						<li>11th-20th Place: N20,000 each</li>
					</ul>

					<p>Additional prizes will also be awarded.</p>
				</div>
			</div>


		</div>
	</div>

	<div class="content">
		<h2 class="text-3xl mb-10">What is a marathon</h2>
		<div class="flex flex-col md:flex-row gap-6">
			<div class="flex-1 p-6">
				<img src="/assets/images/run.png" alt="Runners" class="w-full mb-4 rounded-lg">
			</div>
			<div class="flex-1 p-6">
				<div class="leading-8">
					A marathon is a long-distance running race that spans
					<b>42.195 kilometers (26.2 miles)</b>. It tests participants' endurance, strength, and mental determination. Originating from the legend of a Greek soldier who ran from
					<b>Marathon to Athens</b>
					to deliver a message, the marathon has become a global sporting event.
																																								It often involves months of training and is celebrated worldwide, with races attracting professional athletes and recreational runners alike. Marathons are not only physical challenges but also symbols of perseverance, community spirit, and personal achievement.
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<h2 class="text-3xl mb-16">Wins</h2>
		<div class="flex flex-col md:flex-row gap-6 text-light">
			<div class="flex-1 p-6 rounded-lg bg-secondary">
				<div class="leading-8">
					Participants stand a chance to win prizes of up to
					<b>500,000 NGN</b>
					and more.
				</div>
			</div>
			<div class="flex-1 p-6 rounded-lg bg-secondary">
				<div class="leading-8">
					Exciting complementary prizes from our partners and sponsors are also up for grabs!
				</div>
			</div>
			<div class="flex-1 p-6 rounded-lg bg-secondary">
				<div class="leading-8">
					As race day approaches, it's essential to fine-tune certain aspects of your diet for optimal performance.
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="mb-8">
			<h2 class="text-3xl font-bold text-gray-800 dark:text-gray-200 mb-4">
				Sponsorship Opportunities
			</h2>
			<p class="text-lg text-gray-700 dark:text-gray-300">
				Interested in supporting the Benue International Marathon? We invite companies to partner with us!
			</p>
		</div>
		<div class="max-w-3xl shadow-md rounded p-6">
			<h3 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-4">
				For sponsorship inquiries, please contact:
			</h3>
			<p class="text-lg text-gray-700 dark:text-gray-300 mb-2">
				<strong>Phone:</strong>
				+234 8032 112 285
			</p>
			<p class="text-lg text-gray-700 dark:text-gray-300">
				<strong>Email:</strong>
				<a href="mailto:info@benueinternationalmarathon.com" class="hover:underline text-blue-500">
					info@benueinternationalmarathon.com
				</a>
			</p>
		</div>
	</div>


	<div class="content">
		<div class="mb-8">
			<h2 class="text-3xl font-bold text-gray-800 dark:text-gray-200 mb-4">
				DONATION APPEAL
			</h2>
			<p class="text-lg text-gray-700 dark:text-gray-300">
				We invite you to support the Benue International Marathon by making a donation. Your contribution will go a long way in helping us organize a successful and memorable event.
			</p>
		</div>
		<div
			class="max-w-3xl">
			<!-- Benefits Section -->
			<div class="shadow-md rounded-lg p-6 mb-8">
				<h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mb-4">
					BENEFITS OF YOUR SUPPORT:
				</h3>
				<p class="text-gray-700 dark:text-gray-300 mb-4">
					Your donation will have a profound impact on:
				</p>
				<ul class="list-disc list-inside space-y-2 text-gray-700 dark:text-gray-300">
					<li>
						<strong>International Community:</strong>
						Promoting global unity and friendship through sports
					</li>
					<li>
						<strong>Local Community:</strong>
						Fostering community engagement, economic growth, and development in Benue State
					</li>
					<li>
						<strong>Youths:</strong>
						Encouraging healthy lifestyles, teamwork, and ambition among young people
					</li>
					<li>
						<strong>Participants:</strong>
						Providing a world-class racing experience for athletes from Nigeria and beyond
					</li>
					<li>
						<strong>Benue State and Nigeria:</strong>
						Showcasing the beauty, culture, and hospitality of Benue State and Nigeria to the world
					</li>
				</ul>
			</div>
			<!-- Account Details Section -->
			<div class="shadow-md rounded-lg p-6">
				<h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mb-4">
					ACCOUNT DETAILS FOR DONATION:
				</h3>
				<p class="text-gray-700 dark:text-gray-300 mb-2">
					<span class="font-medium">Account Name:</span>
					Benue Int'l Marathon LTD
				</p>
				<p class="text-gray-700 dark:text-gray-300 mb-2">
					<span class="font-medium">Account Number:</span>
					0890854081
				</p>
				<p class="text-gray-700 dark:text-gray-300">
					<span class="font-medium">Bank:</span>
					GTBANK
				</p>
			</div>
			<p class="text-gray-700 dark:text-gray-300 mt-8">
				Every donation counts, and we appreciate your support in making the Benue International Marathon a success. Thank you!
			</p>
		</div>
	</div>


	<div class="content text-center mt-20">
		<h1 class="text-4xl font-bold mb-16">Time is on</h1>
		<div
			class="flex justify-center space-x-4">
			<!-- Days -->
			<div class="flex flex-col items-center">
				<span id="countdownDays" class="text-4xl md:text-6xl font-bold">000</span>
				<span class="text-lg uppercase mt-2">Days</span>
			</div>
			<!-- Hours -->
			<div class="flex flex-col items-center">
				<span id="countdownHours" class="text-4xl md:text-6xl font-bold">00</span>
				<span class="text-lg uppercase mt-2">Hours</span>
			</div>
			<!-- Minutes -->
			<div class="flex flex-col items-center">
				<span id="countdownMinutes" class="text-4xl md:text-6xl font-bold">00</span>
				<span class="text-lg uppercase mt-2">Minutes</span>
			</div>
			<!-- Seconds -->
			<div class="flex flex-col items-center">
				<span id="countdownSeconds" class="text-4xl md:text-6xl font-bold">00</span>
				<span class="text-lg uppercase mt-2">Seconds</span>
			</div>
		</div>
	</div>

	<style>
		@keyframes slideUpAndFade {
			0% {
				opacity: 0;
				bottom: -100px;
			}
			100% {
				opacity: 1;
				bottom: 0;
			}
		}

		.animate-slideUpAndFade {
			position: relative;
			animation: slideUpAndFade 1s ease-in-out;
		}
	</style>

	 <script>
						const daysElement = document.getElementById("countdownDays");
						const hoursElement = document.getElementById("countdownHours");
						const minutesElement = document.getElementById("countdownMinutes");
						const secondsElement = document.getElementById("countdownSeconds");
						
						const queryString = document.currentScript.src.substring(document.currentScript.src.indexOf("?"));
						const matchTime = Date.parse('July 31 2025 08:00');
						
						if (!isNaN(matchTime)) {
						    const countdownTarget = matchTime;
						
						    const updateCountdown = () => {
						        const currentTime = Date.now();
						        const timeRemaining = countdownTarget - currentTime;
						
						        if (timeRemaining > 0) {
						            const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
						            const hours = Math.floor((timeRemaining / (1000 * 60 * 60)) % 24);
						            const minutes = Math.floor((timeRemaining / (1000 * 60)) % 60);
						            const seconds = Math.floor((timeRemaining / 1000) % 60);
						
						            daysElement.textContent = `${days}`;
						            hoursElement.textContent = `${hours.toString().padStart(2, "0")}`;
						            minutesElement.textContent = `${minutes.toString().padStart(2, "0")}`;
						            secondsElement.textContent = `${seconds.toString().padStart(2, "0")}`;
						        } else {
						            daysElement.textContent = "000";
						            hoursElement.textContent = "00";
						            minutesElement.textContent = "00";
						            secondsElement.textContent = "00";
						            clearInterval(countdownInterval);
						        }
						    };
						
						    const countdownInterval = setInterval(updateCountdown, 1000);
						    updateCountdown();
						} else {
						    console.error("Invalid date format for 'nextMatch'.");
						}
					</script>
{% endblock %}
