{% extends "base.twig" %}

{% block title %}
	Register
{% endblock %}

{% block content %}

	<style>
		@keyframes blinkAndScale {
			0,
			100% {
				opacity: 1;
				transform: scale(1);
			}
			50% {
				opacity: 0.5;
				transform: scale(1.1);
			}
		}

		.animate-blink-scale {
			animation: blinkAndScale 1s infinite;
		}

		.faded {
			opacity: 0.5;
			transition: opacity 0.3s ease-in-out;
		}
	</style>

	<div class="hero">
		<div class="content h-full flex flex-col ">
			<h1 class="text-3xl font-bold text-left mt-20 text-light">
				Register
			</h1>
		</div>
	</div>

	<div class="content mb-10">

		{% if REGISTRATION_DETAILS.is_open == false %}
			<div class="animate-blink-scale bg-red-500 text-white font-bold text-2xl p-4 mb-10 rounded shadow-md text-center">
				Registration is closed for
				{{REGISTRATION_DETAILS.year}}
			</div>
		{% endif %}

		<div id="registrationFrom">
			<p class="text-lg mb-8 leading-8">
				Register now for the Benue International Marathon—secure your spot, choose your distance, and get ready to run!
			</p>

			<p class="mb-4"><strong>Requirements for Participation</strong></p>

			<p class="mb-4">To participate in the Benue International Marathon, please present the following documents on the day of the event:</p>
			
			<p class="mb-2">1. Registration Confirmation Slip: Print and bring your registration confirmation slip as proof of successful online registration.</p>
			
			<p class="mb-1">2. Proof of Nigerian Citizenship: Provide one of the following documents as evidence of Nigerian citizenship:</p>
			
			<p class="mb-1 pl-4">a. Photocopy of National ID Card</p>
			<p class="mb-1 pl-4">b. Photocopy of State of Origin Certificate</p>
			<p class="mb-1 pl-4">c. Photocopy of Voter's Card</p>
			<p class="mb-1 pl-4">d. Photocopy of Birth Certificate</p>
			<p class="mb-1 pl-4">e. Photocopy of WAEC or NECO Result</p>
			
			<p class="mb-2">3. Age Requirement: Participants must be between 18 and 45 years old.</p>
			
			<p class="mb-4">Please ensure you have these documents ready before proceeding with medical checks and collecting your running shirts.</p>

			<div class="my-8">
		        <p class="mb-4"><strong>Registration Fee Details</strong></p>

				<p class="mb-4">The total registration fee for the Benue International Marathon is N5,000, which includes:</p>

                <p class="mb-4">Registration Fee: N2,000</p>
				<p class="mb-4">Running Shirt: N3,000</p>

                <p class="mb-4">Please note that payment must be made in full (N5,000) at the time of registration on our online portal. Part payments will not be accepted.</p>
			</div>

			<div class=" p-4 py-8 rounded-lg shadow-lg">
				<div class="mb-8">
					<h1 class="text-3xl font-bold">{{REGISTRATION_DETAILS.year}}
						Marathon Race</h1>
					<h2 class="text-xl font-semibold mt-2">Registration</h2>
					<p class="mt-2">All intending participants are required to register</p>
				</div>

				<div class="grid grid-cols-1 lg:grid-cols-3 gap-8" ng-app="registrationApp" ng-controller="RegistrationController">
					<div class="col-span-2">
						<div class="flex">
							<span class="text-red-500 text-sm w-1/2">[[ errors.surname ]]</span>
							<span class="text-red-500 text-sm w-1/2">[[ errors.firstName ]]</span>
						</div>
						<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
							<div class="mb-4">
								<label class="label">
									SURNAME<span class="text-red-500">*</span>
								</label>
								<input type="text" name="surname" class="input" ng-model="formData.surname"/>
							</div>
							<div class="mb-4">
								<label class="label">
									FIRST NAME<span class="text-red-500">*</span>
								</label>
								<input type="text" name="firstName" class="input" ng-model="formData.firstName"/>
							</div>
						</div>

						<span class="text-red-500 text-sm">[[ errors.gender ]]</span>
						<div class="mb-4">
							<label class="label">
								Gender<span class="text-red-500">*</span>
							</label>
							<div class="flex gap-4">
								<label class="inline-flex items-center">
									<input type="radio" name="gender" value="Female" ng-model="formData.gender"/>
									<span class="ml-2">Female</span>
								</label>
								<label class="inline-flex items-center">
									<input type="radio" name="gender" value="Male" ng-model="formData.gender"/>
									<span class="ml-2">Male</span>
								</label>
							</div>
						</div>

						<span class="text-red-500 text-sm">[[ errors.bloodGroup ]]</span>
						<div class="mb-4">
							<label class="label">
								BLOOD GROUP<span class="text-red-500">*</span>
							</label>
							<input type="text" name="bloodGroup" class="input" ng-model="formData.bloodGroup"/>
						</div>

						<span class="text-red-500 text-sm">[[ errors.birthday ]]</span>
						<div class="mb-4">
							<label class="label">
								BIRTHDAY<span class="text-red-500">*</span>
							</label>
							<input type="date" name="birthday" class="input" ng-model="formData.birthday"/>
						</div>

						<span class="text-red-500 text-sm">[[ errors.nationality ]]</span>
						<div class="mb-4">
							<label class="label">
								NATIONALITY<span class="text-red-500">*</span>
							</label>
							<select name="nationality" class="select" ng-model="formData.nationality">
								<option class="bg-gray-400 text-gray-700" value="Nigeria">Nigeria</option>
							</select>
						</div>

						<div class="flex">
							<span class="text-red-500 text-sm w-1/2">[[ errors.stateOfOrigin ]]</span>
							<span class="text-red-500 text-sm w-1/2">[[ errors.stateOfResidence ]]</span>
						</div>
						<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
							<div class="mb-4">
								<label class="label">
									STATE OF ORIGIN<span class="text-red-500">*</span>
								</label>
								<select name="stateOfOrigin" class="select" ng-model="formData.stateOfOrigin">
									<option class="bg-gray-400 text-gray-700" value="Abia">Abia</option>
									<option class="bg-gray-400 text-gray-700" value="Adamawa">Adamawa</option>
									<option class="bg-gray-400 text-gray-700" value="Akwa Ibom">Akwa Ibom</option>
									<option class="bg-gray-400 text-gray-700" value="Anambra">Anambra</option>
									<option class="bg-gray-400 text-gray-700" value="Bauchi">Bauchi</option>
									<option class="bg-gray-400 text-gray-700" value="Bayelsa">Bayelsa</option>
									<option class="bg-gray-400 text-gray-700" value="Benue">Benue</option>
									<option class="bg-gray-400 text-gray-700" value="Borno">Borno</option>
									<option class="bg-gray-400 text-gray-700" value="Cross River">Cross River</option>
									<option class="bg-gray-400 text-gray-700" value="Delta">Delta</option>
									<option class="bg-gray-400 text-gray-700" value="Ebonyi">Ebonyi</option>
									<option class="bg-gray-400 text-gray-700" value="Edo">Edo</option>
									<option class="bg-gray-400 text-gray-700" value="Ekiti">Ekiti</option>
									<option class="bg-gray-400 text-gray-700" value="Enugu">Enugu</option>
									<option class="bg-gray-400 text-gray-700" value="Gombe">Gombe</option>
									<option class="bg-gray-400 text-gray-700" value="Imo">Imo</option>
									<option class="bg-gray-400 text-gray-700" value="Jigawa">Jigawa</option>
									<option class="bg-gray-400 text-gray-700" value="Kaduna">Kaduna</option>
									<option class="bg-gray-400 text-gray-700" value="Kano">Kano</option>
									<option class="bg-gray-400 text-gray-700" value="Katsina">Katsina</option>
									<option class="bg-gray-400 text-gray-700" value="Kebbi">Kebbi</option>
									<option class="bg-gray-400 text-gray-700" value="Kogi">Kogi</option>
									<option class="bg-gray-400 text-gray-700" value="Kwara">Kwara</option>
									<option class="bg-gray-400 text-gray-700" value="Lagos">Lagos</option>
									<option class="bg-gray-400 text-gray-700" value="Nasarawa">Nasarawa</option>
									<option class="bg-gray-400 text-gray-700" value="Niger">Niger</option>
									<option class="bg-gray-400 text-gray-700" value="Ogun">Ogun</option>
									<option class="bg-gray-400 text-gray-700" value="Ondo">Ondo</option>
									<option class="bg-gray-400 text-gray-700" value="Osun">Osun</option>
									<option class="bg-gray-400 text-gray-700" value="Oyo">Oyo</option>
									<option class="bg-gray-400 text-gray-700" value="Plateau">Plateau</option>
									<option class="bg-gray-400 text-gray-700" value="Rivers">Rivers</option>
									<option class="bg-gray-400 text-gray-700" value="Sokoto">Sokoto</option>
									<option class="bg-gray-400 text-gray-700" value="Taraba">Taraba</option>
									<option class="bg-gray-400 text-gray-700" value="Yobe">Yobe</option>
									<option class="bg-gray-400 text-gray-700" value="Zamfara">Zamfara</option>
									<option class="bg-gray-400 text-gray-700" value="FCT">FCT</option>
								</select>
							</div>
							<div class="mb-4">
								<label class="label">
									STATE OF RESIDENCE<span class="text-red-500">*</span>
								</label>
								<select name="stateOfResidence" class="select" ng-model="formData.stateOfResidence">
									<option class="bg-gray-400 text-gray-700" value="Abia">Abia</option>
									<option class="bg-gray-400 text-gray-700" value="Adamawa">Adamawa</option>
									<option class="bg-gray-400 text-gray-700" value="Akwa Ibom">Akwa Ibom</option>
									<option class="bg-gray-400 text-gray-700" value="Anambra">Anambra</option>
									<option class="bg-gray-400 text-gray-700" value="Bauchi">Bauchi</option>
									<option class="bg-gray-400 text-gray-700" value="Bayelsa">Bayelsa</option>
									<option class="bg-gray-400 text-gray-700" value="Benue">Benue</option>
									<option class="bg-gray-400 text-gray-700" value="Borno">Borno</option>
									<option class="bg-gray-400 text-gray-700" value="Cross River">Cross River</option>
									<option class="bg-gray-400 text-gray-700" value="Delta">Delta</option>
									<option class="bg-gray-400 text-gray-700" value="Ebonyi">Ebonyi</option>
									<option class="bg-gray-400 text-gray-700" value="Edo">Edo</option>
									<option class="bg-gray-400 text-gray-700" value="Ekiti">Ekiti</option>
									<option class="bg-gray-400 text-gray-700" value="Enugu">Enugu</option>
									<option class="bg-gray-400 text-gray-700" value="Gombe">Gombe</option>
									<option class="bg-gray-400 text-gray-700" value="Imo">Imo</option>
									<option class="bg-gray-400 text-gray-700" value="Jigawa">Jigawa</option>
									<option class="bg-gray-400 text-gray-700" value="Kaduna">Kaduna</option>
									<option class="bg-gray-400 text-gray-700" value="Kano">Kano</option>
									<option class="bg-gray-400 text-gray-700" value="Katsina">Katsina</option>
									<option class="bg-gray-400 text-gray-700" value="Kebbi">Kebbi</option>
									<option class="bg-gray-400 text-gray-700" value="Kogi">Kogi</option>
									<option class="bg-gray-400 text-gray-700" value="Kwara">Kwara</option>
									<option class="bg-gray-400 text-gray-700" value="Lagos">Lagos</option>
									<option class="bg-gray-400 text-gray-700" value="Nasarawa">Nasarawa</option>
									<option class="bg-gray-400 text-gray-700" value="Niger">Niger</option>
									<option class="bg-gray-400 text-gray-700" value="Ogun">Ogun</option>
									<option class="bg-gray-400 text-gray-700" value="Ondo">Ondo</option>
									<option class="bg-gray-400 text-gray-700" value="Osun">Osun</option>
									<option class="bg-gray-400 text-gray-700" value="Oyo">Oyo</option>
									<option class="bg-gray-400 text-gray-700" value="Plateau">Plateau</option>
									<option class="bg-gray-400 text-gray-700" value="Rivers">Rivers</option>
									<option class="bg-gray-400 text-gray-700" value="Sokoto">Sokoto</option>
									<option class="bg-gray-400 text-gray-700" value="Taraba">Taraba</option>
									<option class="bg-gray-400 text-gray-700" value="Yobe">Yobe</option>
									<option class="bg-gray-400 text-gray-700" value="Zamfara">Zamfara</option>
									<option class="bg-gray-400 text-gray-700" value="FCT">FCT</option>
								</select>
							</div>
						</div>

						<span class="text-red-500 text-sm">[[ errors.email ]]</span>
						<div class="mb-4">
							<label class="label">
								EMAIL<span class="text-red-500">*</span>
							</label>
							<input type="email" name="email" class="input" id="registering-email" ng-model="formData.email"/>
						</div>

						<span class="text-red-500 text-sm">[[ errors.phoneNumber ]]</span>
						<div class="mb-4">
							<label class="label">
								PHONE NO.<span class="text-red-500">*</span>
							</label>
							<input type="tel" name="phoneNumber" class="input" ng-model="formData.phoneNumber"/>
						</div>

						<span class="text-red-500 text-sm">[[ errors.contactAddress ]]</span>
						<div class="mb-4">
							<label class="label">
								CONTACT ADDRESS<span class="text-red-500">*</span>
							</label>
							<textarea name="contactAddress" rows="4" class="input" ng-model="formData.contactAddress"></textarea>
						</div>

						<div class="flex">
							<span class="text-red-500 text-sm w-1/2">[[ errors.myHeight ]]</span>
							<span class="text-red-500 text-sm w-1/2">[[ errors.myWeight ]]</span>
						</div>
						<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
							<div class="mb-4">
								<label class="label">
									HEIGHT<span class="text-red-500">*</span>
								</label>
								<input type="text" name="myHeight" class="input" ng-model="formData.myHeight"/>
							</div>
							<div class="mb-4">
								<label class="label">
									WEIGHT<span class="text-red-500">*</span>
								</label>
								<input type="text" name="myWeight" class="input" ng-model="formData.myWeight"/>
							</div>
						</div>

						<span class="text-red-500 text-sm">[[ errors.emergencyPhoneNumber ]]</span>
						<div class="mb-4">
							<label class="label">
								EMERGENCY PHONE NO.<span class="text-red-500">*</span>
							</label>
							<input type="tel" name="emergencyPhoneNumber" class="input" ng-model="formData.emergencyPhoneNumber"/>
						</div>

						<span class="text-red-500 text-sm">[[ errors.passport ]]</span>
						<div class="mb-10">
							<label class="label">
								SELECT RECENT PASSPORT<span class="text-red-500">*</span>
							</label>
							<input type="file" name="passport" accept="image/png,image/jpg,image/jpeg" class="input" ng-model="formData.passport"/>
						</div>

						<span class="text-red-500 text-sm">[[ errors.confirm ]]</span>
						<div class="p-4 bg-gray-50 rounded-lg">
							<div class="flex items-start space-x-2">
								<input type="checkbox" name="confirm" value="binded" ng-model="formData.confirm"/>
								<div class="text-sm text-gray-600">
									<p>
										I declare my understanding that running is a potentially Hazardous
										activity in which I am only permitted to participate in with sufficient
										training and a good level of overall health. I hereby accept all risks
										involved which may include injury or death. I agree to abide by the
										T & C as well as rules and regulations of TUM
										{{REGISTRATION_DETAILS.year}}.
										I grant permission to TUM and unicentral R.G Nigeria LTD for
										the use of my personal data provided by registration and any of my
										Photographs, passports or Recordings of me and others recorded during this
										event for any legitimate purpose.
										<a href="#" class="text-blue-600 hover:text-blue-800">Read more...</a>
									</p>
								</div>
							</div>
						</div>

						<button class="button mt-8" ng-click="submitForm()">
							SUBMIT ENTRY
						</button>
					</div>
					<div class="hidden lg:block"></div>
				</div>
			</div>
		</div>

	</div>

	 <script>
			var PAYSTACK_PAYMENT_PUBLIC_KEY = `{{PAYSTACK_PAYMENT_PUBLIC_KEY}}`;
		</script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	 <script src="https://cdn.jsdelivr.net/npm/@mig8447/lodash-debounce-throttle@4.17.5/dist/lodash-debounce-throttle.min.js"></script>
	 <script src="https://js.paystack.co/v1/inline.js"></script>
	 <script src="/js/register.js"></script>

	 <script>
			{% if REGISTRATION_DETAILS.is_open == false %}
			    disableRegistration ();
			{% endif %}
	
		    function disableRegistration () {
			  const parentElement = document.getElementById('registrationFrom');
			  if (parentElement) {
				const interactiveElements = parentElement.querySelectorAll('input, button, select');
				interactiveElements.forEach((element) => {
				  element.disabled = true;
				});
				parentElement.classList.add('faded');
			  }
			};
		  </script>
{% endblock %}
